@black: #e4e3e3;
@gray: #424657;
@gray-light: #383c4a;
@gray-lighter: #383c4a;
@gray-lightest: #e4e3e3;

@icinga-blue: #383c4a;
@text-color-light: #e4e3e3;
@body-bg-color: #424657;

@tr-active-color: #383c4a;
@tr-hover-color: #383c4a;



.action-link {
  color: #37b6fa;
}

#menu .active > a {
  color: #37b6fa;
}
#menu a {
  &:focus {
    color: @icinga-blue;
    outline-offset: -3px;
  }

  &:hover {
    color: #37b6fa;
    text-decoration: none;
  }
}

.tabs > li {
  margin-right: 0.5em;

  > a {
    color: #e4e3e3;
  }

  &.active > a,
  > a:focus {
    background-color: @body-bg-color;
    color: @text-color;
  }

  &:last-child {
    margin-right: 0;
  }
}


.control-button,
input[type="submit"] {
  .button();
background-color: #e4e3e3;
color: #000000;
}

select{
background-color: #e4e3e3;
color: #000000;
}

table.action th {
    text-align: left;
    padding-bottom: 0.5em;
    background-color: #383c4a;
    color: #37b6fa; 
}

/*-- login --*/

#login input[type=submit]{
    border-bottom: solid 3px #e4e3e3;
    background-color: #e4e3e3;
    color: #000000;
}

#login-footer {
    color: #e4e3e3;
    font-size: 0.917em;
}	